.header {
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: black;
    font-size: 25px;
  }

body{
    background: black;
}


#Dogs {
    background-color:blanchedalmond;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

#Dogs td, #Dogs th {
    border: 1px solid black;
    padding: 8px;
  }

#Dogs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #cf71af;
    color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50;
}

footer {
    background-color: gray;
    text-align: center;
    font-weight: bold;
    position: absolute;
    margin-left: -10px;
    margin-right: -10px;
    height: 50px;
    width: 105%;
}